.Browse {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}

.fitPreview100 {  
  padding: 5px;
  height: 100px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 11px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ddd;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.Browse .file {
  width: 100px;
}

.Browse .dir {
  min-width: 100px;
}

.Browse .curFile {
  margin: 50px;
}

.Browse .scrollwait {
  visibility: hidden;
}

.Browse .ant-spin {
  position: absolute;
  top: 40px;
  width: 100%;
}

.Browse .itemSelector {  
  left: 4px;
  bottom: 4px; 
  width: var(--size);
  height: var(--size);
  opacity: 0.5;

  --size: 40px;
} 