.copy {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  overflow: hidden;
  height: 100%;
}

.copy .step {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.copy .step .title {
  
}

.copy .step .imgBlock {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 10px;
}

.copy .step img {
  width: 30%;
}

.copy .step img:hover {
  transform: scale(2);
  transition: transform 0.5s;
}

.copy .step img {
  transform: scale(1);
  transition: transform 0.5s;
}

