.AddAlbum {
  display: flex;
  --height: 36px;  
}

.AddAlbum .title {
  display: flex;
}

.AddAlbum .title:hover .albumNameBox {
  display: flex;  
}

.AddAlbum .albumName {
  margin: 0px 5px;
  border: 1px solid;
  height: var(--height);
}

.AddAlbum .albumNameBox {
  display: none;
  align-items: center;
  height: var(--height);
}