html,
body,
#root,
.f-photo {
  height: 100%;
}

body {
  margin: auto;
}

#root {
  width: 100%;
}

.positionRel {
  position: relative;
}

.positionAbs {
  position: absolute;
  z-index: 10000;
}

.f-photo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.Print .file,
.Share .file {
  width: 100px;
}

.action .title {
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 11px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ddd;
  border-radius: 4px;
}

#explorer {
  display: flex;
  height: 100%;
}

#rightSideWindow {
  width: 100%;
}

#rightSideWindow iframe {
  height: 100%;
  width: 100%;
  border: none;
  border-left: 1px solid;
}

.flex {
  display: flex;
}
.flexDirColumn {
  flex-direction: column;
}

.flexJustConStart {
  justify-content: flex-start;
}

.flexAlignItemsCenter {
  align-items: center;
}

.marginRight10 {
  margin-right: 10px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.overFlowHidden {
  overflow: hidden;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height100pr {
  height: 100%;
}

.width100pr {
  width: 100%;
}

.mainFont {
  font-size: 24px;
  text-align: center;
}

.textCenter {
  text-align: center;
}

.attention {
  animation: glowing 1000ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #fd9a9a; }
  50% { background-color: #FF0000; }
  100% { background-color:#fd9a9a; }
}

.fontSize20 {
  font-size: 20px;
}