html,
body,
#root,
.f-photo {
  height: 100%;
}

body {
  margin: auto;
}

.flex {
  display: flex;
}
.flexDirColumn {
  flex-direction: column;
}

.flexJustConStart {
  justify-content: flex-start;
}

.flexAlignItemsCenter {
  align-items: center;
}

.marginRight10 {
  margin-right: 10px;
}