.ExitFromOnePhoto {
  display: flex;
}

.ExitFromOnePhoto .title {
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 11px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ddd;
  border-radius: 4px;
}
